.form {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;

  &__input {
    width: 80%;
    padding: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    background-color: rgb(23, 154, 130);
  }

  &__input:focus {
    outline: none;
  }

  &__button {
    padding: 1rem 3rem;
    background-color: inherit;
    border: 3px solid #c26aff;
    border-radius: 15px;
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
  }

  &__button:hover {
    background-color: #c26aff;
  }
}
